html,
body,
.app {
  height: 100%;
}

body {
  min-width: 15rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

